* {
    padding: 0;
    margin-left: 0;
}

body {
    background-color: #FAFBFF;
}

main, footer {
    margin-left: 200px;
}

.header {
    font-family: 'fira-sans', sans-serif;
    font-weight: bold;
    color: #E98E48;
}

.body {
    font-family: 'gitan-latin', serif;
    color: #3F0601;
}